################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TrialApi/FileContentIndex/09a60ced-6521-45e5-bd4b-034e5cd5dba1.vsidx
