################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TrialApi/FileContentIndex/09a60ced-6521-45e5-bd4b-034e5cd5dba1.vsidx
/.vs/TrialApi/FileContentIndex/12954b29-ed82-4ef7-832b-3b12e8285823.vsidx
/.vs/TrialApi/FileContentIndex/6f2cfed5-7072-4d17-9097-6993aad696dd.vsidx
/.vs/TrialApi/FileContentIndex/8114b76b-e6e9-4485-842a-d96b108612f7.vsidx
/.vs/TrialApi/FileContentIndex/b7bacbd6-1b5a-452e-888d-b8b1985b2d59.vsidx
